<div class="container-lg align-self-center">
<form class="row">
   <div class="col-6 form-check">
        <label for="rm" class="col-sm-2 col-form-label">RM</label>
        <div class="col-sm-6">
            <input type="number" step="any" class="form-control" id="rm" required>
            <div class="form-text">average number of rooms per dwelling</div>
       </div>
    
  </div>
  <div class="co-6 form-check">
    <label for="chas" class="col-sm-2 col-form-label">CHAS</label>
    <div class="col-sm-6">
        <input type="number" step="any" class="form-control" id="chas" required>
        <div class="form-text">Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)</div>
    </div>
    
  </div>
  <div class="mb-3 form-check">
    <label for="ptratio" class="col-sm-2 col-form-label">PTRATIO</label>
     <div class="col-sm-6">
        <input type="number" step="any" class="form-control" id="ptratio" required>
        <div class="form-text">pupil-teacher ratio by town</div>
    </div>
  </div>
  <div class="mb-3 form-check">
    <label for="tax" class="col-sm-2 col-form-label">TAX</label>
    <div class="col-sm-6">
        <input type="number" step="any" class="form-control" id="tax" required>
        <div class="form-text">full-value property-tax rate per $10,000</div>
    </div>
    
  </div>
  <div class="mb-3 form-check">
    <label for="b" class="col-sm-2 col-form-label">B</label>
    <div class="col-sm-6">
        <input type="number" step="any" class="form-control" id="b" required>
        <div class="form-text">1000(Bk - 0.63)^2 where Bk is the proportion of black people by town</div>
     </div>
  </div>
    <div class="mb-3 form-check">
    <label for="lstat" class="col-sm-2 col-form-label">LSTAT</label>
    <div class="col-sm-6">
        <input type="number" step="any" class="form-control" id="lstat" required>
        <div class="form-text">% lower status of the population</div>
    </div>
  </div>
  
  
  <button type="submit" id="submit" class="btn btn-primary">Submit</button>
</form>
    
</div>